PORT=8080
MONGODB_URI=
INIT_USER_PASSWORD=

#setup jwt
JWT_ACCESS_TOKEN_SECRET=
JWT_EXPIRED_IN=

JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_EXPIRED_IN=

# init sample data
SHOULD_INIT=
INIT_PASSWORD=

# config mail
EMAIL_HOST=
EMAIL_AUTH_USER=
EMAIL_AUTH_PASS=
EMAIL_PREVIEW=
